.main {
  width: 100%;
  background-color: var(--bg-primary);
}

.main__block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 135px 49px 135px;
  box-sizing: border-box;
}

.main__content {
  width: 100%;
  display: flex;
  gap: 19px;
  overflow-x: auto;
}

.main__content::-webkit-scrollbar {
  height: 6px;
}

.main__content::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  border-radius: 4px;
}

.main__content::-webkit-scrollbar-thumb {
  background: #565EEF;
  border-radius: 4px;
}

.main__content::-webkit-scrollbar-thumb:hover {
  background: #454ed0;
}